<div class="container">
  <h1>{{ title }}</h1>
  <form #orderForm="ngForm" (ngSubmit)="onSubmit(orderForm.value)">
     <div class="form-group">
      <label>Name: </label>
      <input type="text" required
           #name="ngModel"
           [class.is-invalid]="(name.invalid && name.touched)"
           class="form-control is-invalid" [(ngModel)]="orderModel.name"
           id="input"
           name="name" autofocus
           placeholder="Name"
           >
      <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
    </div>
    <div class="form-group">
      Email:
      <input [(ngModel)]="orderModel.email"
             required
             pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
             #email="ngModel"
             [class.is-invalid]="(email.invalid && email.touched)"
             type="text" name="email" class="form-control" placeholder="email@mail.com"
             />
             <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email in proper format required</small>

    </div>

    <div class="form-group">
    What is your reason for contacting us today?
      <select class="custom-select" name="option" [(ngModel)]="orderModel.option">
        <option value="">Support Request</option>
        <option value="">Suggestions</option>
        <option value="">Other</option>
        <option *ngFor="let item of option">{{ m }}</option>
      </select>
    </div>

    <div class="form-group">
     <label>Comment: </label>
     <br>
     <textarea
         #comment="ngModel"
         [(ngModel)]="orderModel.comment"
         id="input"
         name="String" autofocus
         [class.is-invalid]="(comment.invalid && comment.touched)"
         required matInput matTextareaAutosize placeholder="comment">
     </textarea>
     <br>
     <small class="text-danger" [class.d-none]="comment.valid || comment.untouched">Comment is required</small>
   </div>
    <button class="btn btn-primary" type="submit"
          (click)="confirmOrder(orderForm.value)"
          title="always enabled"
          id="submit"
          >Submit form
      </button>
  </form>
Data submitted:
<font color="blue" style="font-style:italic">
{{ data_submitted | json }}
</font>
<br>
Response from php:
<font color="green" style="font-style:italic">
{{ responsedata | json }}
</font>
<hr/>
